@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Dancing+Script:wght@700&family=Nabla&family=Parisienne&display=swap');

//breakpoints
$bp-medium: 730px;
$bp-large: 1000px;

//colors
$col-lightblue: #A5BDC7;
$col-red: rgb(221, 20, 20);
$col-background: lightgray;
$col-button: #02b33d;

//others
$shadow: rgba(0,0,0,0.35) 0 5px 5px;
$button-shadow: 7px 7px 15px 0px rgba(0,0,0,0.35);

//fonts
$handwriting: Dancing Script;
