@import '/src/app/styles/styleVariables.scss';

.signinContainer{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    min-height: 100vh;
}

.header{
    font-size: 4em;
    font-family: $handwriting;
    margin-bottom: 15px;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    font-size: 1.3em;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $shadow;
}

.label{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.button{
    margin-top: 20px;
    background-color: $col-button;
    font-size: 1.4em;
    color: white;
    border-radius: 10px;
    box-shadow: $button-shadow;
    padding: 5px;
}

.noAccount{
    font-size: 1.1em;
    margin: 10px 0;
}