@import '../../app/styles/styleVariables.scss';

.sticky{
    display:flex;
    background-color: $col-lightblue;
    height: 150px;
    margin: 0;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.headerContainer{
    text-align: center;
    width: 100%;
}
.title{
    font-size: 30px;
    color: black;
    margin-top: 60px;
    
    @media screen and (min-width: $bp-medium) {
        font-size: 60px;
        margin-top: 33px;
    }
}

.settings{
    width: 50px;
    height:50px;
    margin-top: 50px;
    margin-right: 20px;
}