@import '../../app/styles/styleVariables.scss';

.sticky{
    display:flex;
    background-color: $col-lightblue;
    height: 150px;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.headerContainer{
    text-align: center;
    width: 100%;
}
.title{
    font-size: 25px;
    color: black;
    
    @media screen and (min-width: $bp-large) {
        font-size: 60px;
    }
}